<%- include ('partials/header.ejs') %>

<main class="cidadesBody">
    <h1>BUSCA RÁPIDA DE GUIAS</h1>

    <table  class="cidadesTable sortTable">
        <thead>
            <tr>
                <!--<th></th>-->
                <th onclick="sortTable(0)">NOME: 
                    <span class="material-symbols-outlined">swap_vert</span>
                </th>
                <th onclick="sortTable(1)">MOTORISTA: 
                    <span class="material-symbols-outlined">swap_vert</span>
                </th>
                <th onclick="sortTable(2)">IDIOMA
                    <span class="material-symbols-outlined">swap_vert</span>
                </th>
            </tr>
        </thead>
        <tbody>
            <% guias.forEach(function(guia){ %>
                <tr>
                    <td><%= guia.nomeGuia %></td>
                    <td><%= guia.motorGuia %></td>
                    <td>
                        <select name="" id="">
                            <option <%= guia.idiomaGuia == 'DE' ? 'selected' : '' %>>Alemão</option>
                            <option <%= guia.idiomaGuia == 'AR' ? 'selected' : '' %>>Árabe</option>
                            <option <%= guia.idiomaGuia == 'BN' ? 'selected' : '' %>>Bengali</option>
                            <option <%= guia.idiomaGuia == 'ZH'? 'selected' : '' %>>Chines (Mandarin)</option>
                            <option <%= guia.idiomaGuia == 'ES' ? 'selected' : '' %>>Espanhol</option>
                            <option <%= guia.idiomaGuia == 'FR' ? 'selected' : '' %>>Frances</option>
                            <option <%= guia.idiomaGuia == 'HI' ? 'selected' : '' %>>Hindi</option>
                            <option <%= guia.idiomaGuia == 'EN' ? 'selected' : '' %>>Inglês</option>
                            <option <%= guia.idiomaGuia == 'JA' ? 'selected' : '' %>>Japones</option>
                            <option <%= guia.idiomaGuia == 'PT-BR' ? 'selected' : '' %>>Portugues</option>
                            <option <%= guia.idiomaGuia == 'RU' ? 'selected' : '' %>>Russo</option>
                        </select>
                    </td>
                </tr>
            <% }) %>
        </tbody>
        <tfoot>
            <tr>
                <th colspan="4"></th>
            </tr>
        </tfoot>
    </table>
</main>

<%- include ('partials/footer.ejs') %>