
<%- include ('partials/header.ejs') %>
<% if(messages.success) { %>
    <div class="alertSuccess">
        <%= messages.success %>
    </div>
<% } %>
<main class="indexBody">
    <section class="quickSearch">
        <h1>Busca rápida</h1>
        <div class="grid">
            <a href="/cidades">
                <div class="box" id="box1">
                    <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%">
                        <line class="top" x1="0" y1="0" x2="900" y2="0"/>
                        <line class="left" x1="0" y1="460" x2="0" y2="-920"/>
                        <line class="bottom" x1="300" y1="460" x2="-600" y2="460"/>
                        <line class="right" x1="300" y1="0" x2="300" y2="1380"/>
                    </svg>
                    <h3>
                        <img src="imgs/icons/iconCidade.webp" alt="Icone ponto turistico">
                    </h3>
                    <span>Cidades</span>
                </div>
            </a>
            <a href="/pontos">
                <div class="box" id="box1">
                    <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%">
                        <line class="top" x1="0" y1="0" x2="900" y2="0"/>
                        <line class="left" x1="0" y1="460" x2="0" y2="-920"/>
                        <line class="bottom" x1="300" y1="460" x2="-600" y2="460"/>
                        <line class="right" x1="300" y1="0" x2="300" y2="1380"/>
                    </svg>
                    <h3>
                        <img src="imgs/icons/iconPonto.webp" alt="Icone ponto turistico">
                    </h3>
                    <span>Pontos turisticos</span>
                </div>
            </a>
            <a href="/guias">
                <div class="box" id="box1">
                    <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%">
                        <line class="top" x1="0" y1="0" x2="900" y2="0"/>
                        <line class="left" x1="0" y1="460" x2="0" y2="-920"/>
                        <line class="bottom" x1="300" y1="460" x2="-600" y2="460"/>
                        <line class="right" x1="300" y1="0" x2="300" y2="1380"/>
                    </svg>
                    <h3>
                        <img src="imgs/icons/iconGuia.webp" alt="Icone ponto turistico">
                    </h3>
                    <span>Guias de turismo</span>
                </div>
            </a>
        </div>
    </section>
    <section class="bestRewiews">
        <h1>DESTINOS COM MELHORES AVALIAÇÕES</h1>
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <% pontos.forEach(ponto => { %>
                        <% if (ponto.dataValues.media > 3) { %>
                            <div class="swiper-slide">
                                <a class="card" data-id="<%= ponto.id %>">
                                    <div class="background" style="background-image: url('<%= ponto.profilePicPonto %>')"></div>
                                    <div class="content">
                                        <p class="category"><%= ponto.categoria ? ponto.categoria.categoria : 'Sem Categoria' %></p>
                                        <h3 class="heading"><%= ponto.nomePonto %></h3>
                                        <div class="classificacao">
                                            <% if (ponto.dataValues.media > 0) { %>
                                                <% for(let i = 0; i < ponto.dataValues.media; i++) { %>
                                                    <i class="fas fa-star"></i>
                                                <% } %>
                                            <% } else { %>
                                                    <i class="far fa-star"></i>
                                                <% } %>
                                        </div>
                                        <div class="comodidade">
                                            <i class="fas fa-wheelchair" title="Acessibilidade" style="display: <%= ponto.comodidades.some(c => c.tipoComodidade === 'Acessibilidade') ? 'block' : 'none' %>;"></i>
                                            <i class="fas fa-child" title="Crianças" style="display: <%= ponto.comodidades.some(c => c.tipoComodidade === 'Crianças') ? 'block' : 'none' %>;"></i>
                                            <i class="fas fa-paw" title="Pets" style="display: <%= ponto.comodidades.some(c => c.tipoComodidade === 'Pets') ? 'block' : 'none' %>;"></i>
                                            <i class="fas fa-stethoscope" title="Saúde" style="display: <%= ponto.comodidades.some(c => c.tipoComodidade === 'Saúde') ? 'block' : 'none' %>;"></i>
                                            <i class="fas fa-building" title="Infraestrutura" style="display: <%= ponto.comodidades.some(c => c.tipoComodidade === 'Infraestrutura') ? 'block' : 'none' %>;"></i>
                                            <i class="fas fa-cogs" title="Serviços" style="display: <%= ponto.comodidades.some(c => c.tipoComodidade === 'Serviços') ? 'block' : 'none' %>;"></i>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        <% } %>
                    <% }) %>
                </div>
            </div>
    </section>
</main>
<div id="myModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h2 id="modal-heading"></h2>
        <p id="modal-category"></p>
        <div id="modal-stars"></div>
        <div class="modal-body">
            <div class="modal-galerie">
                
            </div>
            <div class="reservasInfos">
                
            </div>
        </div>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', (event) => {
        const modal = document.getElementById('myModal');
        const span = document.getElementsByClassName('close')[0];
        
        document.querySelectorAll('.card').forEach(card => {
            card.addEventListener('click', async function() {
                const pontoId = this.getAttribute('data-id');
                const response = await fetch(`/ponto/${pontoId}`);
                const ponto = await response.json();
        
                document.getElementById('modal-heading').innerText = ponto.nomePonto;
                document.getElementById('modal-category').innerText = ponto.categoria ? ponto.categoria.categoria : 'Sem Categoria';
                
                // Acessa a média das avaliações
                const media = Math.round(ponto.media);
                document.getElementById('modal-stars').innerHTML = Array(media).fill('<i class="fas fa-star"></i>').join('');
        
                document.querySelector('.modal-galerie').innerHTML = ponto.fotosPontos.map(
                    imagem => `<img src="/imgs/uploads/${imagem.fotos}" alt="Imagem do Ponto">`).join('');
        
                const pontosInfos = document.querySelector('.reservasInfos');
                pontosInfos.innerHTML = `
                    <div class = "infosPonto">
                        <label>ENDEREÇO:</label>
                        <span>${ponto.endRuaPonto}, ${ponto.endNumPonto} - ${ponto.endBairroPonto}</span>
                        <label>REFERÊNCIA:</label>
                        <span>${ponto.endReferenciaPonto}</span>
                        <label>CIDADE:</label>
                        <span>${ponto.endCidadePonto}/${ponto.endUfPonto} - ${ponto.endCepPonto}</span>
                        <label>GEOLOCALIZAÇÃO:</label>
                        <span>${ponto.endGeoLatPonto}, ${ponto.endGeoLongePonto}</span>
                        <label>VALOR DA ENTRADA:</label>
                        <span>${ponto.valorEntrada.toLocaleString('pt-br', {style: 'currency', currency: 'BRL'})}</span>
                    </div>
                    <div class="infosAddPontos">
                        <div class="beneficios">
                            <div class="comodidades">
                                <i class="fas fa-wheelchair" title="Acessibilidade" style="display: ${ponto.comodidades.some(c => c.tipoComodidade === 'Acessibilidade') ? 'block' : 'none'};"></i>
                                <i class="fas fa-child" title="Crianças" style="display: ${ponto.comodidades.some(c => c.tipoComodidade === 'Crianças') ? 'block' : 'none'};"></i>
                                <i class="fas fa-paw" title="Pets" style="display: ${ponto.comodidades.some(c => c.tipoComodidade === 'Pets') ? 'block' : 'none'};"></i>
                                <i class="fas fa-stethoscope" title="Saúde" style="display: ${ponto.comodidades.some(c => c.tipoComodidade === 'Saúde') ? 'block' : 'none'};"></i>
                                <i class="fas fa-building" title="Infraestrutura" style="display: ${ponto.comodidades.some(c => c.tipoComodidade === 'Infraestrutura') ? 'block' : 'none'};"></i>
                                <i class="fas fa-cogs" title="Serviços" style="display: ${ponto.comodidades.some(c => c.tipoComodidade === 'Serviços') ? 'block' : 'none'};"></i>
                            </div>
                            <div class="comodidadesLista">
                                <ul>
                                    ${ponto.comodidades.map(c => `<li>${c.comodidade}</li>`).join('')}
                                </ul>
                            </div>
                        </div>
                        <div class="btnReservarPonto">
                            <a href="/reserva/${ponto.id}">RESERVAR</a>
                        </div>
                    </div>
                `;        
                modal.style.display = 'block';
            });
        });
    
        span.onclick = function() {
            modal.style.display = 'none';
        }
    
        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = 'none';
            }
        }
    });
</script>
  
<%- include ('partials/footer.ejs') %>